body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }
  
  #sidebar .ui.menu > a.item {
    padding: 10px 20px;
    line-height: 20px;
    color:white;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .ui.attached.segment
  {
    border:none;
  }

  #root > div.App > div > div > div.three.wide.column
  {
    background-color:#342F4C;
    padding-top: 40px;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .ui.vertical.menu .item{
    background-color:#342F4C;
    color:white;
    padding: 15px 20px!important;
    border-radius: 0px!important;
  }
  .ui.fluid.vertical.menu
  {
  background: none;
    border: none;
  }
  .ui.vertical.menu .item:hover,.ui.vertical.menu .item.active:hover{
  background-color: #fff;
    color: #000000;
    border-radius: 0px!important;
  }
  .ui.vertical.menu .item.active
  {
  background-color: #fff;
  color: #000000;
  border: none !important;
  border-radius:0px!important;
  }

.stretched.thirteen.wide.column
{
  padding: 30px 30px;
  min-height: 77vh;
}

.ui.vertical.menu .item>i.icon {
    width: 1.18em;
    float: left;
    margin: 0 12px 0 0px;
}